.*.swp
*.bak
*.bbl.old*
odfopt.tex
oodfopt.tex
nrbib.tex
_darcs
*~
*.hi
*.o

dfopt.txt
dfoptdu.tex
defuse.tex
dfopt.bbl
notesinmargin.tex

timestamp.tex
comb1.tex
iterf.tex
pairf.tex
dg.tex
cprop.tex
hoopl.tex
hoopl.ps
fptype.tex
bodyfun.tex
node.tex
cat.tex
block.tex
fpimp.tex
txfb.tex
update.tex


*.log
*.blg
*.nlg
*.dvi
*.aux
*.out
dfopt.ps
*.pdf
onepage.ps
dom.ps
dom.epsi
